.x-action-col-cell img.ux-rating-icon {
    height: 16px;
    width: 16px;
    background-image: url(rating.gif);
}
.x-action-col-cell img.ux-rating-icon-on {
    background-position: 0 -16px;
}
.x-action-col-cell img.ux-rating-icon-hover {
    background-position: 0 -32px;
}
